.sign-in-container {
    width: 500px;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
}

.field-form {
    width: 100% !important;
    margin-bottom: 25px !important;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}
