.homepage, .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
}

.directory-header {
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
}